RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|application|uploads|sms/|robots\.txt|sitemap\.xml|sitemap_index\.xml|system/plugins|favicon\.ico|adminer\.php)
RewriteRule ^(.*)$ index.php?/$1 [L]
